body {
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    margin: 0;
    padding: 0;
    background-image: url("https://e0.pxfuel.com/wallpapers/226/396/desktop-wallpaper-aesthetic-earth-galaxy-from-earth.jpg"); 
    background-size: cover; 
    background-position: center; 
    color: white;
    text-align: center;
    
}
/*to style the marks fillout form to be centralized on the screen*/

.Studentsmarks {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .JS {
    display: block;
    width: 300px;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #172432;
  }
  .CSS {
    display: block;
    width: 300px;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #172432;
  }
  .HTML {
    display: block;
    width: 300px;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #172432;
  }
  /* to style the results div so that it is right under the submit button*/
.calculateGrade{
  position: relative;
    margin: 10px;
    bottom: 70px;
  }
  .averageMark{
    position: relative;
    margin: 10px;
    bottom: 100px;
  }
  .grade{
    position: relative;
    margin: 10px;
    bottom: 200px;
  }